@import 'flowbite';
@import '../css/autofill.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: CenturyGothic;
        font-weight: normal;
        src: url(../fonts/centurygothic/centurygothic.ttf) format("tff");
    }
    @font-face {
        font-family: CenturyGothic;
        font-weight: bold;
        src: url(../fonts/centurygothic/centurygothic_bold.ttf) format("tff");

    }
}

html{
    font-family:        'Century Gothic', serif !important;
    font-size:          20px;
    line-height:        30px;
}
h3{

}
